
<html lang="en">
    <head>
        <title>React-amtex</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="https://dcgw8p27z8ano.cloudfront.net/node/css/app.css" type="text/css"> -->

    </head>
    <script type="text/javascript">
        var STATIC_URL = 'https://localhost:3001';
      
        var myApp = {
            user : {
                userName: '<%= username %>',
                roomName: '<%=  session_id %>'

                }
            

        };
    </script>
    <body style="cursor: auto;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;">

        <div id="app"></div>
        <script src="http://localhost:9000"></script>
        <!-- <script  src='https://jitsi-poc.securra.com/external_api.js'></script> -->
        <!-- <script type="text/javascript" src="dist/js/app.bundle.js" ></script>  -->
        <!-- <script  src='https://dcgw8p27z8ano.cloudfront.net/libs/external_api.min.js'></script>
        <script type="text/javascript" src="https://dcgw8p27z8ano.cloudfront.net/node/bundle/main.bundle.js" ></script> -->


    </body>
</html>
